@charset 'UTF-8';
@charset 'UTF-8';
/* sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
audio:not([controls])
{
    display: none;
}
button
{
    overflow: visible;

    -webkit-appearance: button;
}
details
{
    display: block;
}
html
{
    overflow-y: scroll;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
}
input
{
    -webkit-border-radius: 0;
}
input[type='button'],
input[type='reset'],
input[type='submit']
{
    -webkit-appearance: button;
}
input[type='number']
{
    width: auto;
}
input[type='search']
{
    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
main
{
    display: block;
}
pre
{
    overflow: auto;
}
progress
{
    display: inline-block;
}
small
{
    font-size: 75%;
}
summary
{
    display: block;
}
svg:not(:root)
{
    overflow: hidden;
}
template
{
    display: none;
}
textarea
{
    overflow: auto;
}
[hidden]
{
    display: none;
}
*,
::before,
::after
{
    box-sizing: inherit;
}
*
{
    font-size: inherit;
    line-height: inherit;
}
::before,
::after
{
    vertical-align: inherit;
    text-decoration: inherit;
}
*,
::before,
::after
{
    border-width: 0;
    border-style: solid;
}
*
{
    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
}
:root
{
    font: 62.5% 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', 'ＭＳ Ｐゴシック', 'ＭＳ ゴシック', 'Osaka', 'Osaka-等幅', sans-serif;

    box-sizing: border-box;

    cursor: default;

    color: #000;
    background-color: #fff;

    text-rendering: optimizeLegibility;
}
a
{
    text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}
button,
input,
select,
textarea
{
    background-color: transparent;
}
button,
input,
select,
textarea
{
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;

    color: inherit;
}
button,
[type='button'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='reset'],
[type='search'],
[type='submit'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea
{
    min-height: 1.6;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
}
nav ol,
nav ul
{
    list-style: none;
}
select
{
       -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand
{
    display: none;
}
select::-ms-value
{
    color: currentColor;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
textarea
{
    resize: vertical;
}
::-moz-selection
{
    color: #fff;
    background-color: #b3d4fc;
    text-shadow: none;
}
::selection
{
    color: #fff;
    background-color: #b3d4fc;
    text-shadow: none;
}
[aria-busy='true']
{
    cursor: progress;
}
[aria-controls]
{
    cursor: pointer;
}
[aria-disabled]
{
    cursor: default;
}
[hidden][aria-hidden='false']
{
    position: absolute;

    display: inherit;
    clip: rect(0 0 0 0);
}
[hidden][aria-hidden='false']:focus
{
    clip: auto;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
iframe,
button,
menu,
main,
article,
time,
div,
p,
dl,
dd,
dt,
ul,
ol,
li
{
    margin: 0;
    padding: 0;
}
li,
dl,
dd,
dt
{
    list-style: none;
}
img
{
    vertical-align: top;
}
.cf:before,
.cf:after
{
    display: table;

    content: ' ';
}
.cf:after
{
    clear: both;
}
