@charset "UTF-8";
@import 'sanitize.styl'

html,body,h1,h2,h3,h4,h5,iframe,button,menu,main,article,time,div,p,dl,dd,dt,ul,ol,li
    margin:0
    padding:0
li,dl,dd,dt
    list-style:none 
img
    vertical-align:top

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {}
