@charset 'UTF-8';
/* Template 
   v0.1 | 20150430
   License: none (public domain)
   ―
*/
@charset 'UTF-8';
@import url('//fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@mixin easing($value: .75s)
{
    -webkit-transition: all $value cubic-bezier(.77, 0, .175, 1);
            transition: all $value cubic-bezier(.77, 0, .175, 1);
}
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html
{
    font-family: 'Josefin Sans', 'Noto Sans Japanese', 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    font-size: 62.5%;
    line-height: 1.3em;

    letter-spacing: .03rem;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
body
{
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}
audio:not([controls])
{
    display: none;

    height: 0;
}
[hidden],
template
{
    display: none;
}
a
{
    background-color: transparent;
}
a:active,
a:hover
{
    outline: 0;
}
abbr[title]
{
    border-bottom: 1px dotted;
}
b,
strong
{
    font-weight: bold;
}
dfn
{
    font-style: italic;
}
h1
{
    font-size: 2em;

    margin: .67em 0;
}
mark
{
    color: #000;
    background: #ff0;
}
small
{
    font-size: 80%;
}
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sup
{
    top: -.5em;
}
sub
{
    bottom: -.25em;
}
img
{
    border: 0;
}
svg:not(:root)
{
    overflow: hidden;
}
figure
{
    margin: 1em 40px;
}
hr
{
    box-sizing: content-box;
    height: 0;
}
pre
{
    overflow: auto;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}
button
{
    overflow: visible;
}
button,
select
{
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
}
button[disabled],
html input[disabled]
{
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
input
{
    line-height: normal;
}
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
input[type='search']
{
    /* 1 */
    /* 2 */
    box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}
legend
{
    /* 1 */
    padding: 0;

    border: 0;
    /* 2 */
}
textarea
{
    overflow: auto;
}
optgroup
{
    font-weight: bold;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th
{
    padding: 0;
}
.cf:before,
.cf:after
{
    display: table;

    content: ' ';
}
.cf:after
{
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
div,
p,
ul,
li
{
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
}
